{% macro render_grades(rendered_grade_list) %}
    <div id="dropdown__grade" class="admin_dropdown__item">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-btn" type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="dropdownBtn__text" id="dropdown_grade__text">None</span>
                <span class="arrow"><span></span><span></span></span>
            </button>
            <div class="dropdown-menu" id="dropdownMenuGrade"
                 aria-labelledby="dropdownMenuButton">
                {{ rendered_grade_list | safe}}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_topics(rendered_topic_list) %}
    <div id="dropdown__topic" class="admin_dropdown__item">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-btn" type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="dropdownBtn__text" id="dropdown_topic__text">None</span>
                <span class="arrow"><span></span><span></span></span>
            </button>
            <div class="dropdown-menu" id="dropdownMenuTopic"
                 aria-labelledby="dropdownMenuButton">
                {{ rendered_topic_list | safe}}
            </div>
        </div>
    </div>
{% endmacro %}
