<head>
    <title>Админ панель</title>
</head>

{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/admin_sidebar.css') }}">
{% endblock %}

{% block js %}
    <script type="module" src="{{ url_for('admin.static', filename='js/admin.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="side-bar col-xl-2">
                <div class="menu">
                    <div class="item sidebar__header">
                        <h3 class="sidebar__title"><i class="fas fa-home"></i> Главное:</h3>
                    </div>

                    <div class="item">
                        <a class="sub-btn"><i class="fas fa-table"></i>Выполненные задачи
                            <i class="fas fa-angle-right dropdown"></i></a>
                        <div class="sub-menu">
                            <a href="#" class="sub-item">6 класс</a>
                            <a href="#" class="sub-item">7 класс</a>
                            <a href="#" class="sub-item">8 класс</a>
                            <a href="#" class="sub-item">9 класс</a>
                            <a href="#" class="sub-item">10 класс</a>
                            <a href="#" class="sub-item">11 класс</a>
                        </div>
                    </div>
                    <div class="item">
                        <a class="sub-btn"><i class="fas fa-cogs"></i>Изменение контента
                            <i class="fas fa-angle-right dropdown"></i></a>
                        <div class="sub-menu">
                            <a href="#" class="sub-item">Добавить задачу</a>
                            <a href="#" class="sub-item">Изменить задачу</a>
                            <a href="#" class="sub-item">Удалить задачу</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 offset-xl-2">
                <p>Админ панель!</p>
            </div>
        </div>
    </div>
{% endblock %}