{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('problems.static', filename='css/grade.css') }}">
    <link rel="stylesheet" href="{{ url_for('problems.static', filename='css/route.css') }}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="route__body">
                <div class="route__title text_with_icon">
                    <i class="fa fa-2x fa-tasks route__title__icon" aria-hidden="true"></i>
                    <p class="route__title__text">Темы:</p>
                </div>
                <div class="route__body_list box-shadow">
                    {% if topics %}
                        {% for topic in topics %}
                            <div class="list_item">
                                <a href="{{ url_for(
                            'problems.topic_page',
                            grade_number=grade.number,
                            topic_translit_name=topic.translit_name
                            ) }}"
                                   class="list_item__link"></a>
                                <div class="list_item_content">
                                    <p class="item_title">{{ topic.name }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% include 'responses/empty_response.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}