{% extends 'problems/task_base.html' %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/submissions_table.css') }}">
{% endblock %}

{% block task_content %}
    <div class="tabs">
        <ul class="nav nav-tabs" id="task_tabs" role="tablist">
            <li class="nav-item">
                <a href="{{ get_task_url(task) }}" class="nav-link" id="task-tab" role="tab" aria-selected="false">
                    Задача
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ get_task_url(task, tab='submissions') }}" class="nav-link active hide_after"
                   id="submissions-tab" role="tab" aria-selected="true">
                    Мои отправки
                </a>
            </li>
        </ul>
    </div>
    <div class="submissions" id="submissions">
        <div class="submissions__body" id="submissions__body">
            {% include 'responses/submissions_table.html' %}
        </div>
    </div>
{% endblock %}