Flask==2.0.2
Flask_Moment==1.0.2
Flask_Login==0.5.0
Flask_Migrate==3.1.0
Flask_SQLAlchemy==2.5.1
Flask-Breadcrumbs==0.5.1
Flask-Mail==0.9.1
Flask-WTF==1.0.0
aiohttp==3.8.1
python-dotenv~=0.19.2
SQLAlchemy~=1.4.27
Werkzeug~=2.0.3
alembic~=1.7.5
transliterate==1.10.2
WTForms~=2.3.3