<!DOCTYPE html>
<html lang="{{ LANGUAGE }}">
<head>
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='images/favicon/safari-pinned-tab.svg') }}"
          color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="##212121">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script type="module" src="{{ url_for('static', filename='js/base.js') }}"></script>
    <title>Главная</title>

    {% block scripts %}

    {% endblock %}

</head>
<body>
{# Header #}
<header class="header">
    <div class="container-fluid">
        <div class="row header-row">
            <a href="{{ url_for('home_page') }}" class="header__logo">
                <h2 class="header__project_name">CONTESTER17</h2>
            </a>
            <a href="{{ url_for('lessons_page') }}">Задачи</a>
        </div>
    </div>
</header>

{# Page content #}
<main role="main" class="main">
    {% block content %}

    {% endblock %}
</main>

{# Footer #}
<footer class="footer" id="footer">
    <div class="container-fluid">
        <div class="row">
            <p class="col-xl-3 col-12">Copyright © 2021 <span>{{ WEBSITE_URL }}</span></p>
            <p class="col-xl-3 col-12">Developed by
                <span>
                    <i class="fa fa-code" aria-hidden="true"></i> {{ DEVELOPER }}
                </span>
            </p>
        </div>
    </div>
</footer>
</body>
</html>