.container-fluid {
    height: 100%;
}

.row {
    height: 100%;
    align-items: center;
}

.confirmation__result {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

.result__status {
    font-size: 45px;
    font-weight: 600;
    background: linear-gradient(45deg, var(--error-color) 0%, var(--red-color) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.result__status.success {
    background: linear-gradient(100deg, var(--green-color) 0%, var(--success-color) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.result__text {
    font-size: 20px;
}

.go_home__button {
    margin-top: 20px;
    background: transparent;
    color: var(--text-color);
    font-size: 18px;
    padding: 9px 18px;
    border: 2px solid var(--purple-color);
    border-radius: 10px;
    transition: all .2s ease;
}

.go_home__button:hover {
    background: var(--purple-color);
}

#confetti {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    pointer-events: none
}

.confetti {
    left: 50%;
    width: 16px;
    height: 16px;
    position: absolute;
    transform-origin: left top;
    z-index: -1;
    animation: confetti 5s ease-in-out -2s infinite;
}

@keyframes confetti {
    0% {
        transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
    }
    25% {
        transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
    }
    50% {
        transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
    }
    75% {
        transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
    }
    100% {
        transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
    }
}

.confetti:nth-child(1) {
    left: 10%;
    animation-delay: 0;
    background-color: #fc0120;
}

.confetti:nth-child(2) {
    left: 20%;
    animation-delay: -5s;
    background-color: #8257e6;
}

.confetti:nth-child(3) {
    left: 30%;
    animation-delay: -3s;
    background-color: #ffbf4d;
}

.confetti:nth-child(4) {
    left: 40%;
    animation-delay: -2.5s;
    background-color: #fe5d7a;
}

.confetti:nth-child(5) {
    left: 50%;
    animation-delay: -4s;
    background-color: #45ec9c;
}

.confetti:nth-child(6) {
    left: 60%;
    animation-delay: -6s;
    background-color: #f6e327;
}

.confetti:nth-child(7) {
    left: 70%;
    animation-delay: -1.5s;
    background-color: #f769ce;
}

.confetti:nth-child(8) {
    left: 80%;
    animation-delay: -2s;
    background-color: #007de7;
}

.confetti:nth-child(9) {
    left: 90%;
    animation-delay: -3.5s;
    background-color: #63b4fc;
}

.confetti:nth-child(10) {
    left: 100%;
    animation-delay: -2.5s;
    background-color: #f9c4ea;
}