.table_row_column.students {
    flex-direction: column;
    align-items: flex-start;
}

.table .language {
    padding-right: 30px !important;
    text-align: left;
}

.table .table_row_column.result {
    padding-right: 5px;
}

.table .table_row_column.language .language__icon {
    width: 25px;
    height: auto;
    margin-right: 5px;
}

/* Submission result */
.submission_result {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.submission_result.success {
    color: var(--green-color)
}

.submission_result.fail {
    color: var(--fail-color);
}

.submission_result .submission_result__icon {
    margin-right: 6px;
}

.submission_result .submission_result__message span {
    display: inline-block;
}