/* Submissions */
.submissions .submissions__body {
    width: 100%;
    background: #212432;
}

.submissions_table {
    font-size: 15px;
}

.submissions_table .table_header__wrapper {
    border-bottom: 1px solid var(--table-separator)
}

.submissions_table .table_header {
    padding: 0 30px;
    display: flex;
    color: var(--darker-text-color);
}

.submissions_table .table_header .table_header_column {
    flex: 1 1 20%;
    padding: 20px 0;
    float: left;
    min-width: 0;
    letter-spacing: 2px;
}

.submissions_table .language {
    padding-right: 60px !important;
    text-align: left;
}

.submissions_table .table_row__wrapper {
    padding: 0 30px;
    transition: all 0.2s ease;
}

.submissions_table .table_row__wrapper:hover {
    background: var(--table-hover);
}

.submissions_table .table_row__wrapper:not(:last-child) {
    border-bottom: 1px solid var(--table-separator)
}

.submissions_table .table_row {
    display: flex;
}

.submissions_table .table_row_column {
    flex: 1 1 20%;
    padding: 14px 0;
    float: left;
    min-width: 0;
    font-size: 15px;
    font-weight: 400;
}

.table_row_column.result.success {
    color: var(--green-color)
}

.table_row_column.result.fail {
    color: var(--fail-color);
}

.table_row_column.result {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.table_row_column.result .result__icon {
    margin-right: 6px;
}

.submissions_table .table_row_column.language {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.submissions_table .table_row_column.language .language__icon {
    width: 25px;
    height: auto;
    margin-right: 5px;
}

.submissions_table .table_row_column.view_result .view_result__link {
    color: var(--purple-color);
    transition: all 0.2s ease;
}

.submissions_table .table_row_column.view_result .view_result__link:hover {
    color: var(--darker-purple-color);
}