:root {
    --table-separator: #33384e;
    --table-hover: #1a1d28;
}

.table__wrapper {
    background: #212432;
}

/* Submissions */
.table {
    font-size: 15px;
    width: 100%;
}

.table .table_header__wrapper {
    border-bottom: 1px solid var(--table-separator)
}

.table .table_header {
    padding: 0 30px;
    display: flex;
    color: var(--darker-text-color);
}

.table .table_header .table_header_column {
    flex: 1 1 20%;
    padding: 20px 0;
    float: left;
    min-width: 0;
    letter-spacing: 2px;
}

.table .table_row__wrapper {
    padding: 0 30px;
    transition: all 0.2s ease;
}

.table .table_row__wrapper:hover {
    background: var(--table-hover);
}

.table .table_row__wrapper:not(:last-child) {
    border-bottom: 1px solid var(--table-separator)
}

.table .table_row {
    display: flex;
}

.table .table_row_column {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1 1 20%;
    padding: 14px 3px;
    float: left;
    min-width: 0;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
}

.pagination {
    justify-content: center;
    margin-top: 35px;
}

.pagination .page-item:not(:last-of-type) {
    margin-right: 5px;
}

.pagination .page-item.disabled .page-link {
    color: #484f58;
}

.pagination .page-item .page-link {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0.5rem 0.85rem;
    color: var(--text-color);
    transition: border-color .2s cubic-bezier(0.3, 0, 0.5, 1);
}

.pagination .page-item .page-link:focus {
    box-shadow: none;
}

.pagination .page-item .page-link.active {
    background: var(--purple-color);
    cursor: pointer;
}

.pagination .page-item .page-link:not(.active):hover {
    border-color: #30363d;
}

.pagination .page-item .pagination-next-arrow {
    margin: 0 0 0 7px;
}

.pagination .page-item .pagination-prev-arrow {
    margin: 0 7px 0 0;
}