:root {
    --code-preview-background: #292d3e
}

.container-fluid {
    width: 100%;
}

.task {
    padding: 0 20px;
}

.task__header {
    margin-bottom: 15px;
}

.task__header .task__title {
    font-size: 25px;
    margin-bottom: 15px;
}

.task__header .task__condition {
    margin-bottom: 15px;
}

.task__header .task__condition .condition__title {
    margin-bottom: 10px;
}

.task__header .task__condition .condition__text {
    font-size: 18px;
    color: var(--darker-text-color);
}

.task__header .task__example .example__title {
    margin-bottom: 10px;
}

.task__header .task__example .example__subtitle {
    font-size: 20px;
    margin-bottom: 5px;
    color: var(--gray-color);
}

pre {
    padding: 15px;
    background: var(--code-preview-background);
    white-space: pre-line;
    line-height: 1.5;
    border-radius: 3px;
    color: var(--text-color);
    font-size: 14px;
    font-family: 'JetBrains Mono', monospace;
}
