{% extends "admin/base.html" %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/submissions_table.css') }}">
{% endblock %}

{% block admin_content %}
    <h3 class="table__title">Последние {{ submissions.items|length }} отправок за сегодня:</h3>
    {% include 'responses/submissions_table.html' %}
{% endblock %}