{% import 'admin/dropdown/dropdown.html' as dropdown %}

{% extends "admin/admin.html" %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/task.css') }}">
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/switch_button.css') }}">
{% endblock %}

{% block js %}
    {{ super() }}
    <script src="{{ url_for('admin.static', filename='js/task.js') }}"></script>
{% endblock %}

{% block admin_content %}
    <div class="task">
        <form id="task_from" method="post" role="form">
            <h2 class="admin__title">Создать задачу</h2>
            <div class="path_to_task admin__block">
                <p class="admin__subtitle">Путь до задачи:</p>
                <div class="admin_dropdown">
                    {{ dropdown.render_grades(rendered_grade_list) }}
                    {{ dropdown.render_topics(rendered_topic_list) }}
                </div>
            </div>
            <div class="basic_information admin__block">
                <p class="admin__subtitle">Основная информация:</p>
                <div class="basic_information__main">
                    <div class="input_block">
                        <p class="input_block__title">Название:</p>
                        <textarea class="input_block__textarea" id="task__name"
                                  name="example_input" placeholder="Название задачи" required="" spellcheck="false"
                                  type="text"></textarea>

                    </div>
                    <div class="input_block">
                        <p class="input_block__title">Условие:</p>
                        <textarea class="input_block__textarea textarea_auto_expand" id="task__condition"
                                  name="name" placeholder="Условие задачи" required="" spellcheck="false"
                                  type="text"></textarea>
                    </div>
                </div>
            </div>
            <div class="example admin__block">
                <p class="admin__subtitle">Пример:</p>
                <div class="example__main">
                    <div class="input_block">
                        <p class="input_block__title">Ввод:</p>
                        <textarea class="input_block__textarea textarea_auto_expand" id="task__input"
                                  name="condition" placeholder="Ввод" required="" spellcheck="false"
                                  type="text"></textarea>

                    </div>
                    <div class="input_block">
                        <p class="input_block__title">Вывод:</p>
                        <textarea class="input_block__textarea textarea_auto_expand" id="task__output"
                                  name="example_input" placeholder="Вывод" required="" spellcheck="false"
                                  type="text"></textarea>

                    </div>
                </div>
            </div>
            <div class="tests admin__block">
                <p class="admin__subtitle">Тесты:</p>
                <div class="tests__main" id="tests__main">
                    <div id="all_tests">
                        {# Tests' inputs will be here #}
                    </div>

                    <button class="create_test_button" id="create_test_button" type="button">
                        Добавить тест
                    </button>
                </div>
            </div>
            <input class="submit_button" id="submit" name="submit" type="submit" value="Создать задачу">
        </form>
    </div>
{% endblock %}