{% extends "admin/base.html" %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/reports.css') }}">
{% endblock %}

{% block js %}
    {{ super() }}
    <script type="module" src="{{ url_for('admin.static', filename='js/reports.js') }}"></script>
{% endblock %}

{% block admin_content %}
    <div class="table__wrapper">

        {% if reports %}
            <div class="table box-shadow">
                <div class="table_header__wrapper">
                    <div class="table_header">
                        <div class="table_header_column sender">
                            ОТПРАВИТЕЛЬ
                        </div>
                        <div class="table_header_column task">
                            ЗАДАЧА
                        </div>
                        <div class="table_header_column text">
                            ПРОБЛЕМА
                        </div>
                        <div class="table_header_column action">
                            ДЕЙСТВИЕ
                        </div>
                    </div>
                </div>
                <div class="table_body">
                    {% for report in reports %}
                        <div class="table_row__wrapper">
                            <div class="table_row">
                                <div class="table_row_column sender">
                                    {% set sender = report.user %}
                                    <a href="{{ url_for('profile_page', user_id=sender.id) }}" class="default_link">
                                        {{ sender.surname }} {{ sender.name }}
                                        ({{ sender.grade.number }}{{ sender.grade_letter }})
                                    </a>
                                </div>
                                <div class="table_row_column task">
                                    <a href="{{ report.task.url() }}"
                                       class="default_link">{{ report.task.name }}</a>
                                </div>
                                <div class="table_row_column text">
                                    {{ report.text }}
                                </div>
                                <div class="table_row_column action">
                                    <button data-tooltip="tooltip" data-placement="top" title="Отметить как решенное"
                                            data-reportID="{{ report.id }}" class="default_button mark_as_resolved">
                                        <i class="default_button__icon fa fa-check-circle"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            {% include 'responses/empty_response.html' %}
        {% endif %}
    </div>
{% endblock %}