{% extends "admin/admin.html" %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/topic.css') }}">
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/forms.css') }}">
{% endblock %}

{% block js %}
    {{ super() }}
    <script type="module" src="{{ url_for('admin.static', filename='js/create_topic.js') }}"></script>
{% endblock %}

{% block admin_content %}
    <h2 class="admin__title">Создать тему</h2>
    <form id="create_topic_from" method="post" role="form">
        {{ form.csrf_token }}
        <div class="grade admin__block">
            <p class="admin__subtitle">Путь до темы:</p>
            <div class="input_block">
                <p class="input_block__title">Класс:</p>
                {{ form.grade(class='select_field') }}
            </div>
            <div class="input_block">
                <p class="input_block__title">Название:</p>
                {{ form.topic_name(type="text", class='input_field', placeholder='Название темы') }}
            </div>
        </div>
        {{ form.submit(class="btn btn-secondary submit_button", id="submit", type="submit") }}
    </form>
{% endblock %}

