{% set passed_tests = response['passed_tests'] %}
{% set number_of_tests = response['tests']|length %}

{% if passed_tests == number_of_tests %}
    {% set status_color = '#1ba94c' %}
{% elif passed_tests == 0 %}
    {% set status_color = '#ff5370' %}
{% else %}
    {% set status_color = '#ffcb6b' %}
{% endif %}

<div class="code-response__body" id="code-response__body">
    <div class="code-response__header">
        <div class="status" style="color: {{ status_color }};">
            <i class="status__icon fas fa-2x fa-poll"></i>
            <p class="status__text">Пройдено тестов {{ passed_tests }}/{{ number_of_tests }}</p>
        </div>
        <div class="info">
            <button class="info__button default_button__btn">
                <i class="default_button__icon fas fa-info-circle"></i>
            </button>
            <div class="info__content box-shadow">
                <div class="arrow_up"></div>
                <div class="info__content__item">
                    <p class="item__title">Общее время тестирования: </p>
                    <div class="item__content">
                        <span class="item__content__text">{{ response['time'] }}</span>
                    </div>
                </div>
                <div class="info__content__item">
                    <p class="item__title">Язык программирования: </p>
                    <div class="item__content">
                        <img class="item__content__icon" src="{{ response['icon'] }}" alt="icon">
                        <span class="item__content__text">{{ response['language'] }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tests-list">
        <div class="row tests-list_row">
            <div class="col-xl-3 col-md-4 col-5 nav_col">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    {% for key, value in response['tests'].items() %}
                        {% if value['status'] == 'OK' %}
                            {% set test_color = '#1ba94c' %}
                        {% else %}
                            {% set test_color = '#ff5370' %}
                        {% endif %}

                        {% if key == 1 %}
                            <a class="tests-list__item active" id="response_tab_{{ key }}" data-toggle="pill"
                               href="#response_tab_content_{{ key }}" role="tab"
                               aria-controls="response_tab_content_{{ key }}" aria-selected="true">
                        {% else %}
                            <a class="tests-list__item" id="response_tab_{{ key }}" data-toggle="pill"
                               href="#response_tab_content_{{ key }}" role="tab"
                               aria-controls="response_tab_content_{{ key }}" aria-selected="false">
                        {% endif %}

                    <p style="color: {{ test_color }};" class="item__text">
                        {% if value['status'] == 'OK' %}
                            <i class="far fa-check-circle"></i>
                        {% else %}
                            <i class="far fa-times-circle"></i>
                        {% endif %}
                        Тест №{{ key }}
                        {% if value['info'] is none %}
                            <i class="fas fa-lock"></i>
                        {% endif %}
                    </p>
                    </a>
                    {% endfor %}
                </div>
            </div>

            <div class="col-xl-9 col-md-8 col-7 tab-content_col">
                <div class="tab-content" id="v-pills-tabContent">
                    {% for key, value in response['tests'].items() %}
                        {% if key == 1 %}
                            <div class="tab-pane fade show active" id="response_tab_content_{{ key }}"
                                 role="tabpanel"
                                 aria-labelledby="response_tab_{{ key }}">
                        {% else %}
                            <div class="tab-pane fade" id="response_tab_content_{{ key }}" role="tabpanel"
                                 aria-labelledby="response_tab_{{ key }}">
                        {% endif %}

                    <div class="compiler__message tab-content__block">
                        <p class="tab-content__title">Сообщение</p>
                        <p class="compiler__message__text">{{ value['message'] }}</p>
                    </div>

                    {% if value['info'] is not none %}
                        <div class="stdin tab-content__block">
                            <p class="tab-content__title">Ввод (stdin)</p>
                            <pre>{{ value['info']['stdin'] }}</pre>
                        </div>
                        <div class="expected-output tab-content__block">
                            <p class="tab-content__title">Ожидаемый вывод</p>
                            <pre>{{ value['info']['expected-output'] }}</pre>
                        </div>

                    {% else %}
                        <div class="locked-test">
                            <i class="locked-test__icon fas fa-lock"></i>
                            <p class="locked-test__text">Это скрытый тест</p>
                        </div>
                    {% endif %}
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
