<div class="create_task__test_block">
    <div class="test_block__body">
        <div class="input_block">
            <p class="input_block__title">Ввод:</p>
            <textarea class="input_block__textarea test_input_textarea textarea_auto_expand" name="test_inputs[]"
                      placeholder="Ввод" required="" spellcheck="false" type="text"></textarea>
        </div>
        <div class="input_block">
            <p class="input_block__title">Вывод:</p>
            <textarea class="input_block__textarea test_output_textarea textarea_auto_expand" id="task__input"
                      name="test_outputs[]"
                      placeholder="Вывод" required="" spellcheck="false" type="text"></textarea>
        </div>
    </div>

    <div class="test_block__footer">
        <div class="footer__left">
            <div class="is_hidden check">
                <input type="checkbox" id="is_test_hidden_{{ task_number }}"
                       class="task__is_hidden" name="checkbox" checked>
            </div>
            <label for="is_test_hidden_{{ task_number }}" class="is_hidden__label">Скрыть тест</label>
        </div>

        <div class="footer__right">
            <button title="Удалить тест" class="default_button delete_test__button" type="button">
                <i class="default_button__icon far fa-trash-alt"></i>
            </button>
        </div>

    </div>

</div>
