/* Colors */
:root {
    --background-color: radial-gradient(#121318 0%, #090a0c 100%);
    --text-color: #e2e5ed;
    --header-color: #191a1f;
    --footer-color: #191a1f;

    --green-color: #c3e88d;
    --yellow-color: #ffcb6b;
    --blue-color: #72a0fd;
    --red-color: #f07178;
    --purple-color: #c792ea;
    --orange-color: #f78c6c;
    --cyan-color: #89ddff;
    --gray-color: #aebdcb;
    --white-color: #eeffff;
    --error-color: #ff5370;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Default HTML elements */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    background: var(--background-color);
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a, a:hover {
    color: var(--text-color);
    text-decoration: none;
}

button,
button:active,
button:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

input,
input:active,
input:focus {
    outline: none;
    box-shadow: none;
}

.box-shadow {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.09) !important;
}

.container-fluid {
    width: 90%;
}

/* Header */
.header {
    padding: 15px 0;
    margin-bottom: 20px;
    background: var(--header-color);
}

.header .row {
    align-items: center;
    justify-content: space-between;
}

.header .header__logo {
    display: flex;
    align-items: center;
    margin-right: 70px;
}

.header .header__logo .img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.header .header__logo .name {
    display: inline;
    font-size: 26px;
}

.header .header__nav .navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}


.header .header__nav .navigation .item {
    font-size: 20px;
    display: inline-block;
    margin: 0 15px;
    color: var(--gray-color);
    position: relative;
}

.header .header__nav .navigation .item,
.header .header__nav .navigation .item:after {
    transition: all .2s ease;
}

.header .header__nav .navigation .item:hover {
    color: var(--blue-color);
}

.header .header__nav .navigation .item:after {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    content: '.';
    color: transparent;
    background: var(--blue-color);
    height: 2px;
}

.header .header__nav .navigation .item:hover:after {
    width: 80%;
}

/* Page content */
.main {
    flex-grow: 1;
}

/* Footer */
.footer {
    width: 100%;
    padding: 15px;
    background-color: var(--footer-color);
    text-align: center;
    flex-shrink: 0;
    margin-top: 20px;
}

.footer .row {
    justify-content: center;
    height: 100%;
    align-items: center;
}

.footer .row p {
    display: inline;
}

.footer .row span {
    color: var(--cyan-color);
    font-size: 17px;
    margin-left: 3px;
}