:root {
    --editor-header-color: #212432;
    --editor-footer-color: #1a1d28;
}

/* Editor header */
.editor__header {
    display: flex;
    align-items: center;
    padding: 11px;
    background-color: var(--editor-header-color);
}

.editor__header .select-language {
    font-size: 16px;
    margin-right: 10px;
}

.editor__header .dropdown-menu {
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
}

.editor__header .dropdown-menu .dropdown-item:hover,
.editor__header .dropdown-menu .dropdown-item:focus {
    background-color: var(--blue-color);
}

.editor__header .dropdown-toggle {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background: linear-gradient(135deg, var(--darker-purple-color), var(--purple-color)) !important;
}

.editor__header .dropdown-toggle::after {
    vertical-align: middle;
    transition: 150ms;
    opacity: 0.7;
}

.editor__header .dropdown-toggle[aria-expanded="true"]::after {
    vertical-align: middle;
    transform: rotateZ(180deg);
}

/* Editor footer */
.editor__footer {
    padding: 12px;
    background: var(--editor-footer-color);
}

.editor__footer .submit-code__btn {
    padding: 8px 12px;
    border-radius: 5px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
    background-color: var(--green-color);
    box-shadow: 0 0 10px 1px var(--green-color);
    transition: all .2s ease
}

.editor__footer .submit-code__btn:hover {
    box-shadow: none;
}

.code-response {
    background: var(--editor-header-color);
    font-family: 'JetBrains Mono', monospace;
}

.code-response .status {
    padding: 18px;
    font-size: 20px;
}

.code-response .tests-list {
    display: flex;
    flex-direction: column;
}

.code-response .tests-list .tests-list__item {
    padding: 15px 30px;
    font-size: 16px;
    transition: all .2s ease;
}

.code-response .tests-list .tests-list__item:hover {
    background-color: var(--editor-footer-color);
}

/* CodeMirror editor */
.CodeMirror-gutters {
    border-right: 1px solid !important;
    background-color: var(--editor-header-color) !important;
}

.CodeMirror-activeline .CodeMirror-linenumber {
    color: var(--text-color)
}

.CodeMirror pre.CodeMirror-line {
    padding: 0 6px;
}

.CodeMirror-simplescroll-vertical {
    background: var(--editor-header-color);
}

.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div {
    background: var(--purple-color);
    border: none;
    border-radius: 5px;
}