{% if submissions %}
    <div class="submissions_table box-shadow">
        <div class="table_header__wrapper">
            <div class="table_header">
                {# Result #}
                <div class="table_header_column result"><p>РЕЗУЛЬТАТ</p></div>
                {# Language #}
                <div class="table_header_column language"><p>ЯЗЫК</p></div>
                {# Time #}
                <div class="table_header_column time"><p>ВРЕМЯ</p></div>
                {# View result #}
                <div class="table_header_column view_result"><p></p></div>
            </div>
        </div>

        <div class="table_body">
            {% for submission in submissions %}
                <div class="table_row__wrapper">
                    <div class="table_row">
                        {# Result #}
                        {% set submission_result = submission.get_result() %}

                        {% if submission_result['success'] %}
                            {% set result_status = 'successful' %}
                        {% else %}
                            {% set result_status = 'failed' %}
                        {% endif %}
                        <div class="table_row_column result {{ result_status }}">
                            <p>{{ submission_result['message'] }}</p></div>
                        {# Language #}
                        <div class="table_row_column language">{{ submission.language }}</div>
                        {# Time #}
                        <div class="table_row_column time">{{ submission.submission_date }}</div>
                        {# View result #}
                        <div class="table_row_column view_result">View Result</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    Пока что здесь пусто
{% endif %}