:root {
    --list-item-background: #292D3E
}

.container-fluid {
    width: 70%;
}

.route__header {
    width: 100%;
}

.route__header .info__grade {
    color: var(--gray-color);
    margin-bottom: 3px;
}

.route__body {
    width: 100%;
}

.route__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.route__title {
    margin-bottom: 15px;
    padding: 5px;
}

.route__title .route__title__icon {
    font-size: 1.5em !important;
    margin-right: 10px;
    color: var(--darker-text-color);
}

.route__title .route__title__text {
    font-size: 24px;
}

.route__body .route__body_list .list_item {
    position: relative;
    background: var(--list-item-background);
    padding: 20px 20px;
    box-shadow: none;
    transition: all 0.4s ease;
}

.route__body .route__body_list .list_item:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.13), 0 10px 10px rgba(0, 0, 0, 0.13);
    background: var(--header-color);

}

.route__body .route__body_list .list_item:not(:last-of-type) {
    border-bottom: 1px solid #33384e
}

.route__body .route__body_list .list_item .list_item__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.route__body .route__body_list .list_item .list_item_content .item_title {
    font-size: 20px;
}