:root {
    --textarea-color: #1A1D28
}

header {
    position: sticky;
    top: 0;
}

main.content__wrapper {
    display: flex;
    justify-content: center;
}

main.content__wrapper .content {
    width: 90%;
}

.container-fluid {
    width: 100%;
}

.dropdown-menu {
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
}

.admin__title {
    margin-bottom: 15px;
    font-size: 28px;
    padding: 6px;
}

.admin__block {
    margin-bottom: 25px;
    background: var(--defaul-button-color);
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.13), 0 10px 10px rgba(0, 0, 0, 0.13) !important;
}

.admin__subtitle {
    font-size: 22px;
    margin-bottom: 15px;
}

/* Dropdown menu */
.select_list {
    display: flex;
    width: 100%;
}

.select_list .select_field__wrapper:not(:last-of-type)::after {
    content: '/';
    margin: 0 10px 0 6px;
    font-size: 22px;
    color: var(--darker-text-color);
}

.dropdown-menu {
    padding: 5px;
}

.dropdown-menu .dropdown-item {
    border-radius: 3px;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    cursor: pointer;
    background-color: var(--blue-color);
}

.dropdown-divider {
    margin: 0.25rem 0;
}

.dropdown-btn {
    width: calc(100% + 25px);
    position: relative;
    display: flex;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background: linear-gradient(135deg, var(--darker-purple-color), var(--purple-color)) !important;
}

.empty-dropdown {
    background: var(--error-color) !important
}

#dropdown__grade .dropdown-btn {
    min-width: 80px;
}

.input_block {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

* .input_block:last-of-type {
    margin-bottom: 0;
}

.input_block__title {
    width: 100px;
    margin-right: 15px;
    font-size: 18px;
}

.input_block__textarea {
    width: 100%;
    resize: none;
    height: 56px;
    outline: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    max-height: 330px;
    caret-color: #4671EA;
    color: var(--text-color);
    border: 1px solid var(--darker-text-color);
    background-color: var(--textarea-color);
}

.input_block__textarea::placeholder {
    color: var(--darker-text-color);
}

.input_block__textarea:is(:focus, :valid) {
    padding: 14px;
    border: 2px solid var(--blue-color);
}

.input_block__textarea::-webkit-scrollbar {
    width: 0;
}

.submit_button {
    display: block;
    margin: auto;
    padding: 10px 12px;
    background: transparent;
    color: var(--text-color);
    font-size: 18px;
    border: 2px solid var(--green-color);
    border-radius: 10px;
    transition: all .2s ease;
}

.submit_button:hover {
    background-color: var(--green-color);
}