:root {
    --sidebar-background: #1a1d28;
    --sidebar-active-tab: #2a2e407d;
    --sidebar-item-hover: #4c78f2;
}

.header .default_button {
    background-color: var(--background-color);
}

.sidebar {
    background: var(--sidebar-background);
    z-index: 10;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: 0.2s ease;
    padding: 90px 12px 5px 12px;
}

.sidebar .menu {
    width: 100%;
}

.sidebar .menu .sub-btn {
    position: relative;
    margin-bottom: 5px;
}

.sidebar .menu .item {
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.3s ease;
}

.sidebar .menu .item .sub-btn:hover {
    background: var(--darker-purple-color)

}

.sidebar .menu .item.active {
    background: var(--sidebar-active-tab);
    border-radius: 5px;
}

.sidebar .menu .item.active .sub-btn.active {
    background: var(--darker-purple-color)
}

.sidebar .menu .item a {
    color: var(--text-color);
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 12px;
    border-radius: 5px;
    transition: 0.2s ease;
}

.sidebar .menu .item i {
    margin-right: 15px;
}

.sidebar .menu .item a .dropdown {
    position: absolute;
    right: 0;
    top: 50%;
    transition: 0.3s ease;
    transform: translateY(-50%);
}

.sidebar .menu .item a.reports_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .menu .item a.reports_button span {
    flex-grow: 1;
}

.sidebar .menu .item a.reports_button .bell_icon {
    margin: 0;
    color: var(--yellow-color);
    -webkit-animation: ring 4s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s .7s ease-in-out infinite;
    transform-origin: 50% 4px;
}

.sidebar .menu .item .sub-menu {
    display: none;
    padding: 3px 7px 7px 7px;
}

.sidebar .menu .item .sub-menu .sub-item {
    margin-bottom: 5px;
}

.sidebar * .item:last-child,
.sidebar .menu .item .sub-menu .sub-item:last-child {
    margin-bottom: 0;
}

.sidebar .menu .item .sub-menu .sub-item:hover {
    background-color: var(--sidebar-item-hover);
}

.sidebar .menu .item .sub-menu a {
    padding-left: 40px;
}


.rotate {
    transform: translateY(-50%) rotate(90deg) !important;
}

@-webkit-keyframes ring {
    0% {
        -webkit-transform: rotateZ(0);
    }
    1% {
        -webkit-transform: rotateZ(30deg);
    }
    3% {
        -webkit-transform: rotateZ(-28deg);
    }
    5% {
        -webkit-transform: rotateZ(34deg);
    }
    7% {
        -webkit-transform: rotateZ(-32deg);
    }
    9% {
        -webkit-transform: rotateZ(30deg);
    }
    11% {
        -webkit-transform: rotateZ(-28deg);
    }
    13% {
        -webkit-transform: rotateZ(26deg);
    }
    15% {
        -webkit-transform: rotateZ(-24deg);
    }
    17% {
        -webkit-transform: rotateZ(22deg);
    }
    19% {
        -webkit-transform: rotateZ(-20deg);
    }
    21% {
        -webkit-transform: rotateZ(18deg);
    }
    23% {
        -webkit-transform: rotateZ(-16deg);
    }
    25% {
        -webkit-transform: rotateZ(14deg);
    }
    27% {
        -webkit-transform: rotateZ(-12deg);
    }
    29% {
        -webkit-transform: rotateZ(10deg);
    }
    31% {
        -webkit-transform: rotateZ(-8deg);
    }
    33% {
        -webkit-transform: rotateZ(6deg);
    }
    35% {
        -webkit-transform: rotateZ(-4deg);
    }
    37% {
        -webkit-transform: rotateZ(2deg);
    }
    39% {
        -webkit-transform: rotateZ(-1deg);
    }
    41% {
        -webkit-transform: rotateZ(1deg);
    }

    43% {
        -webkit-transform: rotateZ(0);
    }
    100% {
        -webkit-transform: rotateZ(0);
    }
}

@-moz-keyframes ring {
    0% {
        -moz-transform: rotate(0);
    }
    1% {
        -moz-transform: rotate(30deg);
    }
    3% {
        -moz-transform: rotate(-28deg);
    }
    5% {
        -moz-transform: rotate(34deg);
    }
    7% {
        -moz-transform: rotate(-32deg);
    }
    9% {
        -moz-transform: rotate(30deg);
    }
    11% {
        -moz-transform: rotate(-28deg);
    }
    13% {
        -moz-transform: rotate(26deg);
    }
    15% {
        -moz-transform: rotate(-24deg);
    }
    17% {
        -moz-transform: rotate(22deg);
    }
    19% {
        -moz-transform: rotate(-20deg);
    }
    21% {
        -moz-transform: rotate(18deg);
    }
    23% {
        -moz-transform: rotate(-16deg);
    }
    25% {
        -moz-transform: rotate(14deg);
    }
    27% {
        -moz-transform: rotate(-12deg);
    }
    29% {
        -moz-transform: rotate(10deg);
    }
    31% {
        -moz-transform: rotate(-8deg);
    }
    33% {
        -moz-transform: rotate(6deg);
    }
    35% {
        -moz-transform: rotate(-4deg);
    }
    37% {
        -moz-transform: rotate(2deg);
    }
    39% {
        -moz-transform: rotate(-1deg);
    }
    41% {
        -moz-transform: rotate(1deg);
    }

    43% {
        -moz-transform: rotate(0);
    }
    100% {
        -moz-transform: rotate(0);
    }
}

@keyframes ring {
    0% {
        transform: rotate(0);
    }
    1% {
        transform: rotate(30deg);
    }
    3% {
        transform: rotate(-28deg);
    }
    5% {
        transform: rotate(34deg);
    }
    7% {
        transform: rotate(-32deg);
    }
    9% {
        transform: rotate(30deg);
    }
    11% {
        transform: rotate(-28deg);
    }
    13% {
        transform: rotate(26deg);
    }
    15% {
        transform: rotate(-24deg);
    }
    17% {
        transform: rotate(22deg);
    }
    19% {
        transform: rotate(-20deg);
    }
    21% {
        transform: rotate(18deg);
    }
    23% {
        transform: rotate(-16deg);
    }
    25% {
        transform: rotate(14deg);
    }
    27% {
        transform: rotate(-12deg);
    }
    29% {
        transform: rotate(10deg);
    }
    31% {
        transform: rotate(-8deg);
    }
    33% {
        transform: rotate(6deg);
    }
    35% {
        transform: rotate(-4deg);
    }
    37% {
        transform: rotate(2deg);
    }
    39% {
        transform: rotate(-1deg);
    }
    41% {
        transform: rotate(1deg);
    }

    43% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}
