<head>
    <title>Главная</title>
</head>

{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="choose_grade block box-shadow">
                <h2 class="block__title"> <span>&lt;</span> Выберите класс <span>/&gt;</span></h2>
                <div class="classes_list">
                    <a href="{{ url_for('grade_page', grade_number=5) }}"
                       class="list_item item_1 box-shadow">
                        <h3 class="item__title">5</h3>
                        <p class="item__text">класс</p>
                    </a>
                    <a href="{{ url_for('grade_page', grade_number=6) }}"
                       class="list_item item_1 box-shadow">
                        <h3 class="item__title">6</h3>
                        <p class="item__text">класс</p>
                    </a>
                    <a href="{{ url_for('grade_page', grade_number=7) }}"
                       class="list_item item_1 box-shadow">
                        <h3 class="item__title">7</h3>
                        <p class="item__text">класс</p>
                    </a>
                    <a href="{{ url_for('grade_page', grade_number=8) }}"
                       class="list_item item_1 box-shadow">
                        <h3 class="item__title">8</h3>
                        <p class="item__text">класс</p>
                    </a>
                    <a href="{{ url_for('grade_page', grade_number=9) }}"
                       class="list_item item_1 box-shadow">
                        <h3 class="item__title">9</h3>
                        <p class="item__text">класс</p>
                    </a>
                    <a href="{{ url_for('grade_page', grade_number=10) }}"
                       class="list_item item_1 box-shadow">
                        <h3 class="item__title">10</h3>
                        <p class="item__text">класс</p>
                    </a>
                    <a href="{{ url_for('grade_page', grade_number=11) }}"
                       class="list_item item_1 box-shadow">
                        <h3 class="item__title">11</h3>
                        <p class="item__text">класс</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}