<head>
    <title>Задания</title>
</head>

{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lessons.css') }}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="lessons_section">
                <ul>
                    <li><a href="{{ url_for('task_page', grade=10, topic='arithmetic', task_number=1) }}">Задача №1</a>
                    </li>
                    <li><a href="{{ url_for('task_page', grade=10, topic='arithmetic', task_number=2) }}">Задача №2</a>
                    </li>
                    <li><a href="{{ url_for('task_page', grade=10, topic='arithmetic', task_number=3) }}">Задача №3</a>
                    </li>
                    <li><a href="{{ url_for('task_page', grade=10, topic='arithmetic', task_number=4) }}">Задача №4</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
<body>