{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/submissions_table.css') }}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-12">
                <div class="user__info">
                    <div class="avatar__block">
                        <img src="{{ url_for('static', filename='images/default_avatar.jpg') }}" alt="avatar"
                             class="avatar__image">
                        <p class="avatar__text">{{ current_user.name[0] }}{{ current_user.surname[0] }}</p>
                    </div>
                    <div class="name__block user__info__block">
                        <i class="fa fa-2x fa-user-o" aria-hidden="true"></i>
                        <h1 class="name__text">{{ current_user.name }} {{ current_user.surname }}</h1>
                    </div>
                    <div class="email__block user__info__block">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <p class="email__text">{{ current_user.email }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-12">
                <div class="user__submissions">
                    <div class="profile__title text_with_icon">
                        <i class="fa fa-2x fa-book profile__title__icon" aria-hidden="true"></i>
                        <p class="profile__title__text">Отправки</p>
                    </div>
                    {% include 'responses/submissions_table.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}