{% extends "base.html" %}

{% import 'macros/all_macros.html' as macros %}

{% block css %}
    {#  ===== CodeMirror =====  #}
    {% include 'codemirror/css.html' %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/submission.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">
{% endblock %}

{% block js %}
    {#  ===== CodeMirror =====  #}
    {#  == Init ==  #}
    {% include 'codemirror/init.html' %}
    {# == Mods == #}
    {% include 'codemirror/mods.html' %}
    {#  == Addons == #}
    {% include 'codemirror/addons.html' %}
    {#  Addons/fold  #}
    {% include 'codemirror/fold.html' %}

    <script>
        let config = {
            mode: "{{ language.mode }}", // Language mode
            theme: "material-palenight", // theme
            lineNumbers: true, // set number
            smartIndent: true, // smart indent
            indentUnit: 4, // Smart indent in 4 spaces
            indentWithTabs: true, // Smart indent with tabs
            lineWrapping: true, //
            // Add line number display, folder and syntax detector to the slot
            gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter", "CodeMirror-lint-markers"],
            foldGutter: true, // Enable code folding in slots
            autofocus: true, // Autofocus
            matchBrackets: true, // Match end symbols, such as "],}"
            autoCloseBrackets: true, // Auto close symbol
            styleActiveLine: true, // Display the style of the selected row
            scrollbarStyle: 'simple', // Scrollbar style,
            readOnly: true
        }
        let editor = document.getElementById("editor");
        let myCodeMirror = CodeMirror(editor, config);
        let code = `{{ code|safe }}`;
        myCodeMirror.setValue(code)
    </script>
{% endblock %}

{% block content %}
    <div class="submission__body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="submitted_code box-shadow">
                        <div class="submission__header">
                            <div class="header__item">
                                {% set task = submission.task %}
                                <i class="header__item__icon fa fa-tasks" aria-hidden="true"></i>
                                <p class="header__item__title">Задача:</p>
                                <a href="{{ task.url() }}" class="default_link">
                                    {{ task.name }}
                                </a>
                            </div>

                            <div class="header__item">
                                <i class="header__item__icon fa fa-users" aria-hidden="true"></i>
                                <p class="header__item__title">Автор(ы) решения:</p>
                                <div class="submission__result__message">
                                    {{ macros.render_submission_owners(submission) }}
                                </div>
                            </div>

                            <div class="submission__time header__item">
                                <i class="header__item__icon fa fa-clock-o" aria-hidden="true"></i>
                                <p>
                                    Решение было отправлено
                                    {{ moment(submission.submission_date).fromNow(refresh=True) }}
                                </p>
                            </div>

                            <div class="header__item">
                                <i class="header__item__icon fa fa-trophy" aria-hidden="true"></i>
                                <p class="header__item__title">Результат:</p>
                                <div class="submission__result__message">
                                    {{ macros.render_submission_result(submission) }}
                                </div>
                            </div>
                        </div>

                        <div class="submission__body">
                            <h3 class="submitted_code__body__title">
                                Отправленный код
                            </h3>
                            <div class="editor__header">
                                <div class="header__left_side">
                                    <div class="language">
                                        <strong>Язык:</strong>
                                        <img src="{{ language.icon_url }}" alt="Language icon" class="language__icon">
                                        <p class="language__name">{{ language.fullname }}</p>
                                    </div>
                                </div>
                                <div class="header__right_side"></div>
                            </div>
                            <div class="editor__body">
                                <div id="editor"></div>
                            </div>
                        </div>
                    </div>
                    <div class="box-shadow">
                        {% include "responses/solution/success.html" ignore missing with context %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}