{% extends "base.html" %}

{% block css %}
    {#  CodeMirror  #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/codemirror.min.css"
          integrity="sha512-CCnciBUnVXwa6IQT9q8EmGcarNit9GdKI5nJnj56B1iu0LuD13Qn/GZ+IUkrZROZaBdutN718NK6mIXdUjZGqg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/theme/material-palenight.min.css"
          integrity="sha512-uIAyXysSwPKYTS4BrBQGkt7i9ozdNjNA4jXfjFDl6fWIc2zDllleoiY5EkH7Ib2j+Qb8YJx4a5qy192JZqxqVg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/addon/fold/foldgutter.min.css"
          integrity="sha512-YwkMTlTHn8dBnwa47IF+cKsS00HPiiVhQ4DpwT1KF2gUftfFR7aefepabSPLAs6zrMyD89M3w0Ow6mQ5XJEUCw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/addon/scroll/simplescrollbars.min.css"
          integrity="sha512-2y3NTsei81d5emn5nwrdflyI5EGULwKXRZ0BCbO55cjgQ8x62X4ydH/jbnzrKnxArstf79F9n6z1j2MtVmJ8YA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    {#  Local CSS  #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/task.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}">
{% endblock %}

{% block js %}
    {#  ===== CodeMirror =====  #}
    {#  Codemirror.js  #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/codemirror.min.js"
            integrity="sha512-4DlmQ+aBOfYTZ3uzRKCDXdyL7y8IlopnVChhXG0pRFgyvhwONVQW3JX8e5DYoXUNr3evQpLZz7S3O1XxMH4WKA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {# == Mods == #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/mode/python/python.min.js"
            integrity="sha512-/mavDpedrvPG/0Grj2Ughxte/fsm42ZmZWWpHz1jCbzd5ECv8CB7PomGtw0NAnhHmE/lkDFkRMupjoohbKNA1Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/mode/pascal/pascal.min.js"
            integrity="sha512-FskTD6xtu02tgjmJwbLeNzLpNRChqnWgcB3/yALsIuPp3Y6dpCx6O8HPFiOMBdzq6Bc82cBKantPm/rVy2yukQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/mode/clike/clike.min.js"
            integrity="sha512-GAled7oA9WlRkBaUQlUEgxm37hf43V2KEMaEiWlvBO/ueP2BLvBLKN5tIJu4VZOTwo6Z4XvrojYngoN9dJw2ug=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {#  == Addons == #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/addon/comment/comment.min.js"
            integrity="sha512-U0udq4Tvwzb+OiL6f7aak/n07mlIutTl+pEPtKoK0oOTF4Q9SkLOQYvKpIaCIM8CKTufd7szgeN9VDcgXDVvWg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/addon/selection/active-line.min.js"
            integrity="sha512-UNVAZmixdjeBtJVQcH5eSKXuVdzbSV6rzfTfNVyYWUIIDCdI9/G8/Z/nWplnSHXXxz9U8TA1BiJ1trK7abL/dg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/addon/edit/closebrackets.min.js"
            integrity="sha512-cCnOU69ESswPmMV3f9TR7WgctoJZliqGbJ8WeLn0VlUrngSsmtVopRf6OG/epbURGfNmY4RY6RzZ/mWkPQ/onw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/addon/edit/matchbrackets.min.js"
            integrity="sha512-03Ei8A+mDhwF6O/CmXM47U4A9L7TobAxMbPV2Wn5cEbY76lngHQRyvvmnqhJ8IthfoxrRqmtoBxQCxOC7AOeKw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/addon/scroll/simplescrollbars.min.js"
            integrity="sha512-HbaqNZHZLix+FaENPr62o07Q2G46VYUDCLZyxo5fPE0lN1EIpncArGlznYfLu+q0Vy7eTR+EBcW23FypU+Jqpw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {#  Addons/fold  #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/addon/fold/foldcode.min.js"
            integrity="sha512-zpi1i9GnOG8aQI/E3vqtH5+mZ/U6heNGndQ/xZO4QL1Utt4XYXQzM69EaeheYAO12i6mDxSZ2a6IMEOACvUydQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/addon/fold/foldgutter.min.js"
            integrity="sha512-Yhrn0zU9jQBETdu3RUw6Rl+pSPWNl8xDxjiJkds2xNQapiaCiBX0et1ecl8VqUM421uWRwoa0ynzZ5knY8zt9w=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/addon/fold/brace-fold.min.js"
            integrity="sha512-vVV3x/YFatpYt7XhLDJoOL40Z0s5g5q/VXLYDxEw8J5zSatMvfKndmqBSzn9CNe5esCDZSu6003G0DYkyS80ww=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/addon/fold/indent-fold.min.js"
            integrity="sha512-Q6g5qQfa6ko+Y+0BwAciUAq01qxgfScTPFP2Fsrr+zIrTe5Yq3tN5xaA919MmBs/1RMz/jyctknYavjc3k+/xg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/addon/comment/comment.min.js"
            integrity="sha512-U0udq4Tvwzb+OiL6f7aak/n07mlIutTl+pEPtKoK0oOTF4Q9SkLOQYvKpIaCIM8CKTufd7szgeN9VDcgXDVvWg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/addon/fold/comment-fold.min.js"
            integrity="sha512-UKU458xnHR+JuKmlgf/jsYBq4/JJVipuY9wJ0CzS4E2xe5lETTWothmsd9afiH2i114eEKupsFP7Zer+CqWEWg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {#  Local scripts #}
    <script type="module" src="{{ url_for('static', filename='js/task.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/editor/editor.js') }}"></script>

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {# Sidebar #}
            <div class="box-shadow sidebar col-xl-2" id="sidebar">
                <h3 class="sidebar__title"><i class="sidebar__title__icon fas fa-tasks"></i> Задачи:</h3>
                <ul class="nav sidebar_nav">
                    {% for sidebar_task in topic.get_tasks() %}
                        {% if sidebar_task.id == task.id %}
                            {% set is_active = 'active_task' %}
                        {% endif %}

                        <li class="sidebar__item {{ is_active }}">
                            <a href="{{ url_for(
                            'task_page',
                            grade_number=grade.number,
                            topic_translit_name=topic.translit_name,
                            task_translit_name=sidebar_task.translit_name) }}"
                               class="item__link">{{ sidebar_task.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="task__main col-xl-8" id="task__main">
                {# Tabs #}
                <div class="tabs">
                    <ul class="nav nav-tabs" id="task_tabs" role="tablist">
                        <li class="nav-item">
                            <a href="#task" class="nav-link active" id="task-tab" data-toggle="tab" role="tab"
                               aria-controls="task" aria-selected="true">Задача</a>
                        </li>
                        <li class="nav-item">
                            <a href="#submissions" class="nav-link hide_after" id="submissions-tab" data-toggle="tab"
                               role="tab"
                               aria-controls="task" aria-selected="false">Посылки</a>
                        </li>
                    </ul>
                </div>
                {# Tab content #}
                <div class="tab-content" id="myTabContent">
                    {# Task #}
                    <div class="task tab-pane fade show active" id="task" role="tabpanel" aria-labelledby="task-tab">
                        <div class="task__header box-shadow">
                            <div class="task__header__buttons">
                                {% if is_admin %}
                                    <button data-tooltip="tooltip" data-placement="top" title="Изменить задачу"
                                            class="default_button" id="report_task__btn">
                                        <i class="default_button__icon fas fa-pen"></i>
                                    </button>

                                    <button data-toggle="modal" data-target="#deleteModal"
                                            data-tooltip="tooltip" data-placement="top" title="Удалить задачу"
                                            class="alert_button" id="report_task__btn">
                                        <i class="default_button__icon far fa-trash-alt"></i>
                                    </button>

                                {% endif %}
                                <button data-toggle="modal" data-target="#reportModal"
                                        data-tooltip="tooltip" data-placement="top" title="Пожаловаться на задачу"
                                        class="alert_button" id="report_task__btn">
                                    <i class="default_button__icon fas fa-exclamation-triangle"></i>
                                </button>
                            </div>
                            <p class="task__title">{{ task.name }}</p>
                            <div class="task__condition task__header__block">
                                <h4 class="condition__title task__sub_title">Условие</h4>
                                <p class="condition__text">
                                    {% for line in task.text.split('\n') %}
                                        {{ line }}
                                        {% if not loop.last %}
                                            <br>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                                {# Сюда вставить картинку #}
                            </div>

                            {% if example %}
                                <div class="task__example task__header__block">
                                    <h4 class="example__title task__sub_title">Пример</h4>
                                    <div class="input">
                                        <p class="example__subtitle">Ввод:</p>
                                        <pre>
                                            {% for input_line in example.example_input.split('\n') %}
                                                <span>{{ input_line }}</span>
                                            {% endfor %}
                                        </pre>
                                    </div>
                                    <div class="output">
                                        <p class="example__subtitle">Вывод:</p>
                                        <pre>
                                            {% for output_line in example.example_output.split('\n') %}
                                                <span>{{ output_line }}</span>
                                            {% endfor %}
                                        </pre>
                                    </div>
                                </div>
                            {% endif %}
                        </div>


                        <div class="task__body box-shadow">
                            {# Editor #}
                            <div class="editor">
                                <div class="editor__header">
                                    <div class="header__left_side">
                                        <p class="select-language">Язык:</p>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-btn" type="button"
                                                    id="dropdownMenuButton"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="dropdownBtn__text" id="dropdownBtn__text">Python 3</span>
                                                <span class="arrow">
                                            <span></span><span></span>
                                        </span>
                                            </button>
                                            <div class="dropdown-menu" id="dropdownMenuLanguage"
                                                 aria-labelledby="dropdownMenuButton">
                                                {% for key, value in languages.items() %}
                                                    {% if value['is_default'] %}
                                                        {% set is_active = 'active' %}
                                                    {% else %}
                                                        {% set is_active = '' %}
                                                    {% endif %}

                                                    <a class="dropdown-item {{ is_active }}" data-value="{{ key }}"
                                                       data-mode="{{ value['mode'] }}">
                                                        {{ value['name'] }}
                                                    </a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="header__right_side">
                                        <button data-tooltip="tooltip" data-placement="top" title="Удалить код"
                                                class="header__button alert_button" id="reset-code__btn">
                                            <i class="default_button__icon far fa-trash-alt"></i>
                                        </button>
                                        <button data-tooltip="tooltip" data-placement="top" title="Скопировать код"
                                                class="header__button default_button" id="copy-code__btn">
                                            <i class="default_button__icon far fa-copy"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="editor__body" id="editor__body"></div>
                                <div class="editor__footer">
                                    <button class="submit-code__btn" id="submit-code__btn">Отправить</button>
                                </div>
                                <div class="code-response">
                                    <div class="code-response__loader" id="code-response__loader">
                                        <div class="lds-roller">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>
                                    <div class="code-response__body" id="code-response__body">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# Submissions #}
                    <div class="submissions tab-pane fade" id="submissions" role="tabpanel"
                         aria-labelledby="submissions-tab">
                        <div class="submissions__loader" id="submissions__loader">
                            <div class="lds-roller">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="submissions__body" id="submissions__body"></div>
                    </div>
                </div>
            </div>
            <div class="modal_windows">
                {# Report task Modal #}
                <div class="modal fade" id="reportModal" tabindex="-1" role="dialog"
                     aria-labelledby="reportModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="reportModalLabel">Пожаловаться</h5>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form id="report_form" method="post" role="form">
                                <div class="modal-body">
                                    <div class="form__content">
                                        <p class="form__title">Опишите проблему:</p>
                                        <textarea class="modal_textarea" id="report_text" required
                                                  placeholder="Описание"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Закрыть
                                    </button>
                                    <input class="btn btn-success" id="send_report"
                                           name="submit" type="submit" value="Отправить">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                {# Admin Modals #}
                {% if is_admin %}
                    {# Delete task Modal #}
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                         aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Подтверждение действия</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p class="form__title">Вы уверены, что хотите удалить задание?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Закрыть
                                    </button>
                                    <button type="button" id="deleteTaskButton" class="btn btn-danger">
                                        Удалить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}