{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/topic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/route.css') }}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="route__body">
                <h3 class="route__body_title">Задачи:</h3>
                <div class="route__body_list">
                    {% if tasks %}
                        {% for task in tasks %}
                            <div class="list_item">
                                <a href="{{ url_for('task_page',
                            grade_number=grade.number,
                            topic_translit_name=topic.translit_name,
                            task_translit_name=task.translit_name) }}"
                                   class="list_item__link"></a>
                                <div class="list_item_content">
                                    <p class="item_title">{{ task.name }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% include 'responses/empty_response.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}